<html>

  <body>


    <!-- Start of navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navigation bar -->


    <!-- Start of main cover -->
    <div class="main-cover">
      <div id="cover-text"> <p>Something.com <br> loream ipsum some jag tuk nild snkf loram</p> </div>
    </div>
    <!-- End of main cover -->

    <div class="container"> <!-- start of container --> 

      <!-- Start of about -->
      <div class="row" id="about">
        <div class="row">
          <div class="col-sm-12 bright-title">About the Founder</div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><%=image_tag("founder-img2.jpg", id:"founder-resize")%></div>
            <div class="col-sm-8" id="child-about"> 
              <p>
                The Founder of <b><font color="red">GetHRight.com.sg</font></b> has been a HR practitioner for more than 30 years heading HR practices in local and MNC organizations, including public-listed companies. Apart from HRM, he also specializes in corporate governance work.
                <br><br>
                The Founder holds both a Masters and Bachelors degree in Business (HR specialization), a Graduate Diploma in Management and was amongst the top students in his cohort. As a training practitioner, he has been an adjunct lecturer at a private School teaching undergraduate programmes. He had also obtained his ACTA qualifications from the Institute of Adult Learning, Singapore. 
             </p>
           </div>
           <div class="col-sm-1"></div>
          </div>  
        </div> <!-- inner row -->
      <div> <!-- outer row -->
      <!-- End of about -->


      <!-- Start of preface -->
      <div class="row parent-div">
        <div class="row">
          <div class="col-sm-12 bright-title">Preface</div>
          <div id="child-preface"> 

            <div class="col-sm-6"><p>
              Navigating the employment landscape in Singapore, particularly for HR practitioners is arguably not as straightforward as many would envisage.
              <br><br>
              In the course of my career, I had come across many diverse questions put up by HR practitioners seeking guidance on practical human resource management or employment related issues that they themselves face almost on a daily basis.    The solutions for some of these questions may not be readily obvious and may not even reside in prevailing labor laws which are themselves subject to different interpretations.
              <br><br>
              The purpose of setting up this <b><font color="red">“GetHRight”</font></b> portal is to offer some constructive views and insights into these questions gleaned from the knowledge and experience of its Founder.   It is the hope that the guidance given will be helpful to practitioners in arriving at some workable solutions specific to their unique situations and needs.
            </p></div>

            <div class="col-sm-6">
              <p>If you have a particular question on HR management practices or employment related issue in Singapore, please email to <b><font color="red">founder@GetHRight.com.sg. </font></b>We will get back to you as soon as possible.  Your questions (and our response) will be on a private one2one basis.<br><br>
              In your email, please also leave behind (optional) your:<br>
              <ul>
                <li>Name</li>
                <li>Designation</li>
                <li>Company's name</li>
                <li>Brief nature of Company's business</li>
              </uL>
              </p>
            </div>
          </div> <!-- child preface -->
        </div><!-- inner row -->
      <div> <!-- outer row -->
      <!-- End of preface -->


      
      <!-- Start of other services -->
      <div class="row parent-div">
        <div class="row">
          <div class="col-sm-12 bright-title">Services</div><br><br>

          <div class="row">
              <div class="all-services">
                <span class="services-title">Complimentary Services</span><br><br>
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                  <%=image_tag("misc-icons/career-guidance.png", class:"services-resize")%>
                  <br>
                  Career Guidance
                </div>

                <div class="col-sm-2">
                  <%=image_tag("misc-icons/employment-contract.png", class:"services-resize")%>
                  <br>
                  Employment Contract<br>
                  <font size="2pt" color="#D1D0CE"><i>(General Review)</i></font>
                </div>

                <div class="col-sm-2">
                  <%=image_tag("misc-icons/cv-profile.png", class:"services-resize")%>
                  <br>
                  CV Profile<br>
                  <font size="2pt" color="#D1D0CE"><i>(General Review)</i></font>
                </div>
                <div class="col-sm-3"></div>
              </div>
          </div>  

          <br><br><br>

          <div class="row">
              <div class="all-services">
                <span class="services-title">Chargeable Services</span><br><br>
                <div class="col-sm-2"></div>
                <!-- First column -->
                <div class="col-sm-2">
                  <%=image_tag("misc-icons/cv-profile.png", class:"services-resize")%>
                  <br>
                  Customized CV<br>
                  <font size="2pt" color="#D1D0CE"><i>(At a nominal fee to cover for time-cost)</i></font>

                  <br><br><br>

                  <%=image_tag("misc-icons/review-policies.png", class:"services-resize")%>
                  <br>
                  Review and Formulation of HR Policies<br>
                  <br><br><br>
                </div>

                <!-- Second column -->
                <div class="col-sm-2">
                  <%=image_tag("misc-icons/scorecard.png", class:"services-resize")%>
                  <br>
                  HR Scorecard<br>
                  <font size="2pt" color="#D1D0CE"><i>(Performance Metrics)</i></font>

                  <br><br><br><br>

                  <%=image_tag("misc-icons/risk-management.png", class:"services-resize")%>
                  <br>
                  Enterprise Risk Management<br><br>
                  <br><br><br>
                </div>

                <!-- Third column -->
                <div class="col-sm-2">
                  <%=image_tag("misc-icons/hr-tools.png", class:"services-resize")%>
                  <br>
                  Developing HR Systems and Toolss<br>

                  <br><br><br>

                  <%=image_tag("misc-icons/compliance-audit.png", class:"services-resize")%>
                  <br>
                  HR Compliance Audit<br><br>
                  <br><br><br>
                </div>

                <!-- Fourth column -->
                <div class="col-sm-2">
                  <%=image_tag("misc-icons/outplacement-services.png", class:"services-resize")%>
                  <br>
                  Outplacement Services<br>

                  <br><br><br>

                  <%=image_tag("misc-icons/training-courses.png", class:"services-resize")%>
                  <br>
                  Training Courses<br>
                  <a href="#about" class="btn btn-warning btn-xl">Find Out More</a>
                  <br><br><br>
                </div>
                <div class="col-sm-2"></div>
              </div>
          </div>  

        </div> <!-- inner row -->
      <div> <!-- outer row -->
      <!-- End of about -->

      <!-- end other services-->



      <!-- Start of training courses -->
      <div class="row test">
        <div class="row">
          <div class="col-sm-12 bright-title">Training Courses</div>
          <div class="row">
            <div class="col-sm-12">Content here</div>
          </div>  
        </div> <!-- inner row -->
      <div> <!-- outer row -->
      <!-- End of training courses -->



        <!--
• Customized CV ( at a nominal fee to cover for time-cost)
• Review and Formulation of HR Policies // magnifying glass
• HR Scorecard (Performance Metrics) // list with ticks
• Enterprise Risk Management  // maybe exclamation mark
• Developing HR Systems and Tools // settings or tools like the spanner
• HR Compliance Audit // maybe another check list
• Outplacement Services // a man with tie
• Training Courses  (below course titles to be hyperlinked to course details below) // just type training, get the one with the man with the board

o “Unleashing  the Leadership Potential in You”
o “ Business Ethics – Doing the right thing”
• Moral Principles
• Code of Conduct
• Code of Corporate Governance
• Personal Data Protection Act
• Protection from Harassment Act
o E-mail Etiquette – “Getting the most out of on-line communications”
o Making Right Hiring Decisions – “Enhanced interviewing skills”
o Other soft-skills
Please email to founder@GetHRight.com.sg to request for more details
         -->




      <!-- Start of courses -->
      <!--<div class="row parent-div">
        <div class="col-sm-12 bright-title">Training Courses</div>
      <div>

      <div class="row">
        <div id="child-courses"> 
          <div class="col-sm-3">
            <p class="course-title">Unleashing the Leadership Potential in You</p>
            <%= image_tag("course-images/workshop_unleashing_the_leadership_potential_in_you.png", class:"no-resize")%>
            <p>Learn more</p>
          </div>

          <div class="col-sm-3">
            <p class="course-title">“Business Ethics – Doing the Right thing”</p>
            <%= image_tag("course-images/workshop_business_ethics.png", class:"no-resize")%>
            <p>Learn more</p>
          </div>

          <div class="col-sm-3">
            <p class="course-title">E-mail Etiquette – “Getting the most out of on-line  communications”</p>
            <%= image_tag("course-images/workshop_email_etiquette.png", class:"no-resize")%>
            <p>Learn more</p>
          </div>

          <div class="col-sm-3">
            <p class="course-title">Making Right Hiring Decisions -  “Enhanced Interviewing skills”</p>
            <%= image_tag("course-images/workshop_making_right_hiring_decisions.png", class:"no-resize")%>
            <p>Learn more</p>
          </div>

        </div> 

      </div> -->
      <!-- End of courses -->



      <!-- Start of vision & disclaimer & privacy -->
<!--
      <div class="row parent-div">

        <div class="col-sm-4">
          <p class="icon-position"><%= image_tag("misc-icons/vision-icon.png", height:"70px", width:"60px")%> <br>
          <span class="icon-title">Vision</span></p>
          <p class="icon-content">If you think this service has been helpful to you, please share it with like-minded HR folks. Ultimately, a HR fraternity can be forged amongst us; one that will be a bellwether of sorts for our local HR industry.<br><br>
          Thank you for your interest and support.</p>
        </div>

        <div class="col-sm-4">
          <p class="icon-position"><%= image_tag("misc-icons/disclaimer-icon.png", style:"padding: 15px 0px", height:"75px", width:"45px")%> <br>
          <span class="icon-title">Disclaimer</span></p>
          <p class="icon-content">The comments, views or feedback offered by the Founder are intended as general information only and should not be construed as an authoritative interpretation of the subject matter.  It is also not intended to substitute for legal guidance and should not be acted upon without seeking proper legal counsel or advice as circumstances will be unique in every case.</p>
        </div>

        <div class="col-sm-4">
          <p class="icon-position"><%= image_tag("misc-icons/privacy-icon.png", style:"padding: 15px 0px", height:"75px", width:"45px")%> <br>
          <span class="icon-title">Privacy</span></p>
          <p class="icon-content">Please note that that any of your personal information disclosed will be held in strict confidence and will not be shared to any party without your consent</p>

        </div>


      </div>  -->
      <!-- End of vision & disclaimer & privacy -->



    </div> <!-- End of container -->



  </body>

</html>




