<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>


    <!-- Start of navigation bar -->
    <nav class="navbar transparent navbar-default navbar-fixed-top" id="main-navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#experiences">Experiences</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#training-section">Training Courses</a></li>
            <li><a href="#disclaimer">Disclaimer & Privacy</a></li>
            <li><a href="#contact-us">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navigation bar -->





    <!-- Start of main cover -->
    <div class="container-fluid">
      <div class="main-cover">
        <div id="cover-text"> <p>Something.com <br> loream ipsum some jag tuk nild snkf loram</p> </div>
      </div>
    </div>
    <!-- End of main cover -->


<!-- Start of About -->
    <div class="container"> 
      <div class="row" id="about">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">About The Founder</h2>
            <hr>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="row divider-padding"> 
            <div class="col-lg-6 text-center">
                <div id="child-about">
                  <p>
                    Navigating the employment landscape in Singapore, particularly for HR practitioners is arguably not as straightforward as many would envisage. <br><br>

                    In the course of my career, I had come across many diverse questions put up by HR practitioners seeking guidance on practical human resource management or employment related issues that they themselves face almost on a daily basis.   The solutions for some of these questions may not be readily obvious and may not even reside in prevailing labor laws which are themselves subject to different interpretations.<br><br>

                    The purpose of setting up this <font color="red">“GetHRight”</font> portal is to offer some constructive views and insights into these questions gleaned from the knowledge and experience of its Founder.   It is the hope that the guidance given will be helpful to practitioners in arriving at some workable solutions specific to their unique situations and needs.
                 </p>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div id="child-about">
                  <p>

                    If you have a particular question on HR management practices or employment related issue in Singapore, please email to <b><font color="red">founder@GetHRight.com.sg. </font></b>We will get back to you as soon as possible.  Your questions (and our response) will be on a private one2one basis.<br><br>
                  In your email, please also leave behind (optional) your:<br>
                  <ul>
                    <li>Name</li>
                    <li>Designation</li>
                    <li>Company's name</li>
                    <li>Brief nature of Company's business</li>
                  </uL>
                  </p>
                </div>
            </div>

        </div>
    </div>
<!-- End of About -->



<!-- OLD ABOUT
    <div class="container"> 
      <div class="row" id="preface">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">About the Founder</h2>
            <hr>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="row"> 
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div id="child-about">
                  <%=image_tag("founder-img.jpg", id:"founder-resize")%>
                  <p>
                    The Founder of <b><font color="red">GetHRight.com.sg</font></b> has been a HR practitioner for more than 30 years heading HR practices in local and MNC organizations, including public-listed companies. Apart from HRM, he also specializes in corporate governance work.
                    <br><br>
                    The Founder holds both a Masters and Bachelors degree in Business (HR specialization), a Graduate Diploma in Management and was amongst the top students in his cohort. As a training practitioner, he has been an adjunct lecturer at a private School teaching undergraduate programmes. He had also obtained his ACTA qualifications from the Institute of Adult Learning, Singapore. 
                 </p>
                </div>
            </div>
        </div>
    </div>
 -->




<!-- Start of experiences -->
    <div class="container-fluid experience-div"> 
      <div class="row" id="experiences">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">Experiences</h2>
            <hr class="hr-light">
        </div>
      </div>
    </div>


    <div class="container-fluid experience-div">
        <div class="row"> 
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div>
                  
                  <div class="col-lg-4 col-sm-12 text-center service-box">
                    <div class="rounded-icon"><font size="12" class="about-resize" color="#FFA500">30</font></div>
                    <br><br>
                    HR Practitioner for more than 30 years, heading HR practices in local and MNC Organizations, including public-listed companies
                  </div>
                  <div class="col-lg-4 col-md-12 text-center service-box">
                    <div class="rounded-icon"><%=image_tag("about-icons/corporate-governance.png", class:"about-resize")%></div>
                    <br><br>
                    Specializes in Corporate Governance work, apart from HRM
                  </div>
                  <div class="col-lg-4 col-md-12 text-center service-box">
                    <div class="rounded-icon"><%=image_tag("about-icons/masters-bachelors.png", class:"about-resize")%></div>
                    <br><br>
                    Holds both masters and bachelors degree in Business (HR Specialization)
                  </div>

                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid experience-div">
        <div class="row divider-padding"> 
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div>
                  
                  <div class="col-lg-4 col-sm-12 text-center service-box">
                    <div class="rounded-icon"><%=image_tag("about-icons/top-in-cohort.png", class:"about-resize")%></div>
                    <br><br>
                    Graduate Diploma in Management and was amongst the top students in the cohort
                  </div>
                  <div class="col-lg-4 col-md-12 text-center service-box">
                    <div class="rounded-icon"><%=image_tag("about-icons/adjunct-lecturer.png", class:"about-resize")%></div>
                    <br><br>
                    Adjunct lecturer at a private school teaching undergrade programmes
                  </div>
                  <div class="col-lg-4 col-md-12 text-center service-box">
                    <div class="rounded-icon"><font size="6.5" class="about-resize" color="#FFA500" style="top: calc(25%);">ACTA</font></div>
                    <br><br>
                    Obtained Advanced Certificate in Training and Assessment (ACTA) qualifications from the Institute of Adult Learning, Singapore
                  </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid misc-div">
        <div class="row divider-padding"> 
        </div>
    </div>

 <!-- end of experiences -->




<!-- Start of other services -->
    <div class="container"> 
      <div class="row" id="services">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">Services</h2>
            <hr>
        </div>
      </div>
    </div>

    <div class="container"> 
      <div class="row" id="services">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <span class="label label-warning services-title">Complimentary Services</span>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="all-services">
          <div class="col-lg-4 col-sm-12 text-center service-box">
              <%=image_tag("misc-icons/career-guidance.png", class:"services-resize")%>
              <br>
              Career Guidance
          </div>
          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/employment-contract.png", class:"services-resize")%>
            <br>
            Employment Contract<br>
            <font size="2.5pt" color="#B6B6B4"><i>(General Review)</i></font>
          </div>
          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/cv-profile.png", class:"services-resize")%>
            <br>
            CV Profile<br>
            <font size="2.5pt" color="#B6B6B4"><i>(General Review)</i></font>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="container"> 
      <div class="row" id="services">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <span class="label label-danger services-title">Chargeable Services</span>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="all-services">

          <div class="col-lg-3 col-sm-6 text-center service-box">
            <%=image_tag("misc-icons/cv-profile.png", class:"services-resize")%>
            <br>
            Customized CV<br>
            <font size="2.5pt" color="#B6B6B4"><i>(At a nominal fee to cover for time-cost)</i></font>
          </div>

          <div class="col-lg-3 col-sm-6 text-center service-box">
            <%=image_tag("misc-icons/scorecard.png", class:"services-resize")%>
            <br>
            HR Scorecard<br>
            <font size="2.5pt" color="#B6B6B4"><i>(Performance Metrics)</i></font>
          </div>

          <div class="col-lg-3 col-md-6 text-center service-box">
            <%=image_tag("misc-icons/review-policies.png", class:"services-resize")%>
            <br>
            Review and Formulation of HR Policies
          </div>

          <div class="col-lg-3 col-md-6 text-center service-box">
            <%=image_tag("misc-icons/risk-management.png", class:"services-resize")%>
            <br>
            Enterprise Risk Management
          </div>
        </div>
      </div>

      <div class="row divider-padding">
        <div class="all-services">

          <div class="col-lg-3 col-sm-6 text-center service-box">
            <%=image_tag("misc-icons/hr-tools.png", class:"services-resize")%>
            <br>
            Developing HR Systems and Toolss<br>
          </div>

          <div class="col-lg-3 col-sm-6 text-center service-box">
            <%=image_tag("misc-icons/compliance-audit.png", class:"services-resize")%>
            <br>
            HR Compliance Audit
          </div>

          <div class="col-lg-3 col-md-6 text-center service-box">
            <%=image_tag("misc-icons/outplacement-services.png", class:"services-resize")%>
            <br>
            Outplacement Services
          </div>

          <div class="col-lg-3 col-md-6 text-center service-box">
            <%=image_tag("misc-icons/training-courses.png", class:"services-resize")%>
            <br>
            Training Courses
          </div>
        </div>
      </div>
    </div>


<!-- End of other services -->



<!-- Start of training courses -->
     <div class="container-fluid training-main-cover" id="training-section">
      <div class="col-lg-12 dark-title" style="padding: 100px 0px 0px 0px"><font size="8">Training Courses</font></div>
        <div class="row divider-padding"> 
          <div class="col-lg-12 training-content dark-content">
            (requires short summary/introduction to the training courses)<br><br>
            <button type="button" class="btn btn-warning btn-xl accord-toggle" data-toggle="collapse" data-target="#training-details" aria-expanded="false"><font color="white" size="4">Find Out More</font></button> 
          </div>
        </div>
    </div>

<!-- End of training courses -->



<!-- Start of collapsed training details -->
    <div class="container">
      <div class="row">
        <div class="row divider-padding" id="training-details"> <!-- add back the collapse!!!!!! -->
          <div class="col-lg-12 bright-title">Training Courses <hr></div>
          <div class="well well-lg col-lg-12" style="padding: 10px 50px 10px 50px;">
            <div class="row example">


              <nav style="text-align: center;">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="active"><a data-toggle="tab" href="#course1">1</a></li>
                <li><a data-toggle="tab" href="#course2">2</a></li>
                <li><a data-toggle="tab" href="#course3">3</a></li>
                <li><a data-toggle="tab" href="#course4">4</a></li>
                <li><a data-toggle="tab" href="#course5">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>


              <ul class="bxslider">
                <li>
                <div id="course1" class="tab-pane fade in active course-content">
                  <h3 class="course-title">Unleashing the Leadership Potential in You</h3>

                    <div class="col-lg-6 ">

                      <%= image_tag("course-images/workshop_unleashing_the_leadership_potential_in_you.png", class:"no-resize")%>

                      <span class="subheader">Introduction</span><br>
                      What distinguishes Great companies from just Good companies is that their Leaders are also models for their staff and are committed to developing talent. Developing and sustaining a robust leadership pipeline continues to be the topmost priority and a major challenge in today’s organizations in the face of a VUCA environment.<br><br>
                      “My main job at GE was to develop and nourish talent…The future will not belong to Managers or those who can make the numbers dance.  The world will belong to passionate driven leaders – people who not only have enormous amount of energy but who can also energize those whom they lead” (J Welch) <br><br>
                      Many of existing leaders reached their positions by chance because they happen to be the best engineers, best technical specialists or best accountants parachuted in by circumstances or operational expediency.  This is certainly a recipe for organizational failure.
                      <br><br><br>
                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                            <ol>
                            <li>To liberate the leader in you to influence Change</li>
                            <li>To discover personal behavior and leadership styles that can make a difference in business performance and personal life decisions</li>
                            <li>To effectively use tested leadership enabling tools and knowledge for continual self-development</li>
                            <li>To gain and acquire practical skills to move on from being a capable Manager to an effective Leader</li>
                            <li>Certification Test</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      This workshop is highly interactive leveraging on pre-course work, mini-lectures, leadership behavioral instruments and group discussions on contemporary leadership challenges.
                      Focus will be placed on learning through self-discovery and self-development. <br><br>
                      This program can be customized to suit the specific needs of the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <font color="red">MISSING INFORMATION</font>
                    </div> 

                </div> <!-- course 1 -->

                </li>
                <li>

<div id="course2" class="tab-pane fade in active course-content">
                  <h3 class="course-title">Business Ethics <font color="grey" size="4pt">- Doing the Right Thing</font></h3>

                    <div class="col-lg-6">

                      <%= image_tag("course-images/workshop_business_ethics.png", class:"no-resize")%>

                      <span class="subheader">Introduction</span><br>
                      In recent times, there has been much discourse on the need for good corporate governance practices to protect organizations against the unscrupulous actions of business people and even the unconscionable behavior of some misguided employees.<br><br>
                      The usual route to deal with this is to tighten further the rules by introducing even more legislation or policies.  The argument against this route is that no matter how much regulations or risk management systems there are in place, there will always be ways to over-ride these controls, especially if there is no personal resolve to act ethically.<br><br>
                      On the other hand, others have strongly advocated the need to imbue in individuals a moral compass grounded on sound ethical principles that will enable them to make morally correct decisions when faced with difficult choices, especially at the workplace.<br><br>
                      This will be the primary aim of this course

                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol class="two-columns">
                            <li>What Ethics is and is not</li>
                            <li>Why Ethics is important in business</li>
                            <li>Why the prevalence of ethical failures despite regulations</li>
                            <li>Moral Principles and Philosophy</li>
                            <li>Code of Conduct explained</li>
                            <li>Corporate Governance and its relevance</li>
                            <li>Personal Data Protection Act</li>
                            <li>Protection from Harassment Act</li>
                            <li>Application issues</li>
                            <li>Certification Test</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      This workshop is highly engaging and interactive involving an interplay of mini-lectures, action learning, case studies and group discussions on contemporary ethical issues.<br><br>
                      This program can be customized to suit the specific needs of the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <ul>
                        <li>Business leaders especially those directly responsible for promoting good corporate governance practices within their organizations</li>
                        <li>Leaders with responsibility to formulate and train their staff on Company’s Code of Conduct based on strong business ethical principles</li>
                        <li>Functional heads with oversight responsibility over ethics and compliance</li>
                        <li>Any student or practitioner of moral philosophy</li>

                      </ul>
                    </div> 

                </div> <!-- course 2 -->
                </li>
                <li></li>
                <li></li>
              </ul>




             <!--  old way of pagination/tab
             <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#course1">Unleashing the Leadership Potential in You</a></li>
                <li><a data-toggle="tab" href="#course2">Business Ethics</a></li>
                <li><a data-toggle="tab" href="#course3">E-mail Etiquette</a></li>
                <li><a data-toggle="tab" href="#course4">Making Right Hiring Decisions</a></li>
                <li><a data-toggle="tab" href="#course5">Performance Management System</a></li>
              </ul> -->


              <div class="tab-content">

                <div id="course1" class="tab-pane fade in active course-content">
                  <h3 class="course-title">Unleashing the Leadership Potential in You</h3>

                    <div class="col-lg-6 ">

                      <%= image_tag("course-images/workshop_unleashing_the_leadership_potential_in_you.png", class:"no-resize")%>

                      <span class="subheader">Introduction</span><br>
                      What distinguishes Great companies from just Good companies is that their Leaders are also models for their staff and are committed to developing talent. Developing and sustaining a robust leadership pipeline continues to be the topmost priority and a major challenge in today’s organizations in the face of a VUCA environment.<br><br>
                      “My main job at GE was to develop and nourish talent…The future will not belong to Managers or those who can make the numbers dance.  The world will belong to passionate driven leaders – people who not only have enormous amount of energy but who can also energize those whom they lead” (J Welch) <br><br>
                      Many of existing leaders reached their positions by chance because they happen to be the best engineers, best technical specialists or best accountants parachuted in by circumstances or operational expediency.  This is certainly a recipe for organizational failure.
                      <br><br><br>
                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                            <ol>
                            <li>To liberate the leader in you to influence Change</li>
                            <li>To discover personal behavior and leadership styles that can make a difference in business performance and personal life decisions</li>
                            <li>To effectively use tested leadership enabling tools and knowledge for continual self-development</li>
                            <li>To gain and acquire practical skills to move on from being a capable Manager to an effective Leader</li>
                            <li>Certification Test</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      This workshop is highly interactive leveraging on pre-course work, mini-lectures, leadership behavioral instruments and group discussions on contemporary leadership challenges.
                      Focus will be placed on learning through self-discovery and self-development. <br><br>
                      This program can be customized to suit the specific needs of the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <font color="red">MISSING INFORMATION</font>
                    </div> 

                </div> <!-- course 1 -->


                <div id="course2" class="tab-pane fade course-content">
                  <h3 class="course-title">Business Ethics <font color="grey" size="4pt">- Doing the Right Thing</font></h3>

                    <div class="col-lg-6">

                      <%= image_tag("course-images/workshop_business_ethics.png", class:"no-resize")%>

                      <span class="subheader">Introduction</span><br>
                      In recent times, there has been much discourse on the need for good corporate governance practices to protect organizations against the unscrupulous actions of business people and even the unconscionable behavior of some misguided employees.<br><br>
                      The usual route to deal with this is to tighten further the rules by introducing even more legislation or policies.  The argument against this route is that no matter how much regulations or risk management systems there are in place, there will always be ways to over-ride these controls, especially if there is no personal resolve to act ethically.<br><br>
                      On the other hand, others have strongly advocated the need to imbue in individuals a moral compass grounded on sound ethical principles that will enable them to make morally correct decisions when faced with difficult choices, especially at the workplace.<br><br>
                      This will be the primary aim of this course

                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol class="two-columns">
                            <li>What Ethics is and is not</li>
                            <li>Why Ethics is important in business</li>
                            <li>Why the prevalence of ethical failures despite regulations</li>
                            <li>Moral Principles and Philosophy</li>
                            <li>Code of Conduct explained</li>
                            <li>Corporate Governance and its relevance</li>
                            <li>Personal Data Protection Act</li>
                            <li>Protection from Harassment Act</li>
                            <li>Application issues</li>
                            <li>Certification Test</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      This workshop is highly engaging and interactive involving an interplay of mini-lectures, action learning, case studies and group discussions on contemporary ethical issues.<br><br>
                      This program can be customized to suit the specific needs of the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <ul>
                        <li>Business leaders especially those directly responsible for promoting good corporate governance practices within their organizations</li>
                        <li>Leaders with responsibility to formulate and train their staff on Company’s Code of Conduct based on strong business ethical principles</li>
                        <li>Functional heads with oversight responsibility over ethics and compliance</li>
                        <li>Any student or practitioner of moral philosophy</li>

                      </ul>
                    </div> 

                </div> <!-- course 2 -->


                <div id="course3" class="tab-pane fade course-content">
                  <h3 class="course-title">Email Etiquette <font color="grey" size="4pt">- Getting the most out of on-line  communications</font></h3>

                    <div class="col-lg-6">

                      <%= image_tag("course-images/workshop_email_etiquette.png", class:"no-resize")%>

                      <span class="subheader">Introduction</span><br>
                      The advent of electronic mail or email probably ranks highest in the list of greatest technological inventions in this era.  The ubiquitous use of email has a far-reaching impact on how we communicate with others. At the same time, it is also the most often taken for granted.  The resultant effect is a litany of problems in miscommunications, loss in efficiency, personal and organizational conflicts, damaged reputations and creating a festering ground for litigation.
                      <br><br>
                      This workshop aims to help employees improve their online communication skills and to get the most out of the email system.  

                      <br><br><br>
                    </div>

                    <div class="col-lg-6">


                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol>
                            <li>Understanding the common pitfalls and avoiding them</li>
                            <li>Gain and apply practical skills to improve your personal and professional image</li>
                            <li>Be aware of email abuse and net security challenges</li>
                            <li>Damage control – for bad email moments</li>
                            <li>Developing a personal action plan for improvement</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      The workshop involves interactive exercises, group discussions and action learning and can be customized to suit the learning needs of participants

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      Just about everyone who uses email inside and outside of work
                    </div> 

                </div> <!-- course 3 -->



                <div id="course4" class="tab-pane fade course-content">
                  <h3 class="course-title">Making Right Hiring Decisions <font color="grey" size="4pt">- Enhanced Interviewing skills</font></h3>

                    <div class="col-lg-6">

                      <%= image_tag("course-images/workshop_making_right_hiring_decisions.png", class:"no-resize")%>

                      <span class="subheader">Introduction</span><br>
                      Hiring a new employee is a major investment for any organization, not only in terms of costs but also as a predictor for future organizational performance.<br><br>
                      This workshop is designed to equip just about everyone who has a responsibility for hiring, and not just HR practitioners. The fallacy is assuming that everyone has an innate ability to size up potential candidates and make the right hiring decisions. 
                      <br><br>It is also a common fact that most staff who had been parachuted to undertake this role had never undergone any form of training to prepare them for the critical task of hiring right. Using a series of enhanced effective interviewing skills, participants will acquire the skill-sets in making key decisions to place the right people in the right jobs.

                      <br><br><br>
                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol>
                            <li>Preparing for Interviewing – Defining the Job requirements</li>
                            <ul>
                              <li>Defining KSFs</li>
                              <li>Differentiating competencies, behaviours and technical skills</li>
                              <li>Job Description as Anchor</li>
                            </ul>

                            <li>Preparing the interview – Structure, roles and questions</li>
                            <ul>
                              <li>Interview Structure</li>
                              <li>Framing interview questions</li>
                              <li>Assigning roles</li>
                            </ul>

                            <li>Conducting the interview</li>
                            <ul>
                              <li>Structured Format vs Flexibility</li>
                              <li>Avoiding interview taboos</li>
                              <li>Acting listening <font color="red">ACTIVE LISTNING?</font></li>
                            </ul>

                            <li>Final selection</li>
                            <ul>
                              <li>Additional information source</li>
                              <li>Matching candidates</li>
                              <li>Provisional v Firmed decisions</li>
                              <li>Managing Managers’ expectations</li>
                              <li>Preparing for onboarding</li>
                            </ul>
                          </ol>
                          This program can be customized to suit the learning needs of participants and the organization
                        </div>
                      </div> <!-- end list group -->


                      <span class="subheader">Methodology</span><br>
                      Blended learning involving discussions, case studies, role-play supplemented by online content

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <ul>
                        <li>Just about everyone with a responsibility for hiring within their organization</li>
                        <li>The program will also be useful for potential job candidates to understand the psyche of effective interviewers and to make preparations to ace even the toughest interviews</li>
                      </ul>
                    </div> 

                </div> <!-- course 4 -->



                <div id="course5" class="tab-pane fade course-content">
                  <h3 class="course-title">Performance Management System <font color="grey" size="4pt">- Effective Performance and Potential Management Skills</font></h3>

                    <div class="col-lg-6">

                      <%= image_tag("course-images/workshop_performance_management.png", class:"no-resize")%>

                      <span class="subheader">Introduction</span><br>
                      This program presents the performance appraisal system as an opportunity to strengthen the performance of those you manage and to develop a better understanding between employees and their appraisers in the process.  It is structured to provide the nexus between People, Strategy and Performance from goal-setting to performance delivery using a balanced assessment approach that is aligned to both the employee’s and organization’s interests.
                      <br><br>
                      The Performance Management system is a critical management tool to develop effective, motivated and productive employees.  It also enables effective decision making regarding each employee’s career development, potential management and performance improvement needs.

                      <br><br><br>
                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol>
                            <li>Enhance understanding and awareness of the performance management process as a method of developing motivated and highly engaged employees</li>
                            <li>Use specific techniques to evaluate employee’s performance in a more objective, fair and developmental manner</li>
                            <li>Assess employee’s development needs in relation to individual career and corporate goals</li>
                            <li>Create a factual and defensible document to avoid legal challenges</li>
                            <li>Support recommendations for individual career decisions</li>
                            <li>Strengthen the essential critical thinking, writing and verbal skills needed to plan and deliver effective results-oriented performance appraisals</li>
                            <li>Enhance your ability to give objective and constructive performance feedback</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      You will have several opportunities to practice what you learn through role plays, case studies and other activities<br>
                      This program can be customized to suit the learning needs of participants and the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      This course offers practical performance management training, aimed at supervisory staff or line managers who have a responsibility for managing the performance of employees.
                    </div> 

                </div> <!-- course 5 -->

              </div> <!-- tab content-->

             </div> <!-- row -->
          </div> <!-- well -->
        </div> <!-- inner row -->
      <div> <!-- outer row -->
      <!-- End of collapsed training details -->


    </div> <!-- container -->



<!-- Start of vision & disclaimer & privacy -->
    <div class="container"> 
      <div class="row" id="disclaimer">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">What You Should Know</h2>
            <hr>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="row divider-padding"> 
            <div class="col-lg-4 col-md-12 text-center">
              <p class="icon-position"><%= image_tag("misc-icons/vision-icon.png", height:"70px", width:"60px")%> <br>
              <span class="icon-title">Vision</span></p>
              <p class="icon-content">If you think this service has been helpful to you, please share it with like-minded HR folks. Ultimately, a HR fraternity can be forged amongst us; one that will be a bellwether of sorts for our local HR industry.<br><br>
              Thank you for your interest and support.</p>  
            </div>

            <div class="col-lg-4 col-md-12 text-center">
              <p class="icon-position"><%= image_tag("misc-icons/disclaimer-icon.png", style:"padding: 15px 0px", height:"75px", width:"45px")%> <br>
              <span class="icon-title">Disclaimer</span></p>
              <p class="icon-content">The comments, views or feedback offered by the Founder are intended as general information only and should not be construed as an authoritative interpretation of the subject matter.  It is also not intended to substitute for legal guidance and should not be acted upon without seeking proper legal counsel or advice as circumstances will be unique in every case.</p>
            </div>

            <div class="col-lg-4 col-md-12 text-center">
              <p class="icon-position"><%= image_tag("misc-icons/privacy-icon.png", style:"padding: 15px 0px", height:"75px", width:"45px")%> <br>
              <span class="icon-title">Privacy</span></p>
              <p class="icon-content">Please note that that any of your personal information disclosed will be held in strict confidence and will not be shared to any party without your consent</p>
            </div>
        </div>
    </div>
<!-- End of vision & disclaimer & privacy -->


<!-- start of footer -->
    <div class="container-fluid">

      <div class="row" id="contact-us">
        <div class="row footer-main-cover">
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 contact text-center">
              <font size="5" class="dark-title">Let's Get In Touch! <hr class="hr"></font>
              <font size="3">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
              </font>
            </div>
            <div class="col-lg-3"></div>
          </div>


          <div class="row divider-padding">
            <div class="col-lg-4"></div>
            <div class="col-lg-2 col-md-12 contact text-center">
              <font size="3">
                <%=image_tag("contact-icons/phone-receiver.png", class:"contact-resize")%><br> 123-456-789
              </font>
            </div>
            <div class="col-lg-2 col-md-12 contact">
              <font size="3"><%=image_tag("contact-icons/envelope-of-white-paper.png", class:"contact-resize")%><br> feedback@hr.com
              </font>
            </div>
            <div class="col-lg-4"></div>
          </div>


        </div> <!-- inner row -->
      <div> <!-- outer row -->

    </div>
<!-- end of footer -->



  </body>

</html>

<script>

$( document ).ready(function() {
   
  $('body').scrollspy({
    target: '#main-navbar',
    offset: 50
  });



$('.bxslider').bxSlider({
  auto: true,
  autoControls: true
});



function remove_navbar_transparent() {
    var window_top = $(window).scrollTop();
    var div_top = $('#about').offset().top;
    if (window_top > div_top) {
        $('#main-navbar').removeClass('transparent');
    } else {
        $('#main-navbar').addClass('transparent');
    }
}

$(function () {
    $(window).scroll(remove_navbar_transparent);
    remove_navbar_transparent();
});


});




</script>



