<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
  </head>

  <body>


    <!-- Start of navigation bar -->
    <nav class="navbar transparent navbar-default navbar-fixed-top" id="main-navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#about" class="hidden-xs">About</a></li>
            <li><a href="#about" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">About</a></li>

            <li><a href="#portfolio" class="hidden-xs">Portfolio</a></li>
            <li><a href="#portfolio" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Portfolio</a></li>

            <li><a href="#services" class="hidden-xs">Services</a></li>
            <li><a href="#services" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Services</a></li>

            <li><a href="#training-section" class="hidden-xs">Training Courses</a></li>
            <li><a href="#training-section" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Training Courses</a></li>

            <li><a href="#disclaimer" class="hidden-xs">Disclaimer & Privacy</a></li>
            <li><a href="#disclaimer" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Disclaimer & Privacy</a></li>

            <li><a href="#contact-us" class="hidden-xs">Contact</a></li>
            <li><a href="#contact-us" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Contact</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navigation bar -->



<!-- Start of main cover -->
   <div class="container-fluid main-cover">
    <div class="col-lg-12" id="cover-text">GET<font color="FFA500"><b>HR</b></font>RIGHT</div>
      <div class="row"> 
        <div class="col-lg-12" id="child-cover-text">
          <p id="child-cover-desc">Get your HR questions answered here</p>
        </div>
      </div>
  </div>

<!-- End of main cover -->


<!-- Start of About -->
  <div class="container hideme"> 
    <div class="row" id="about">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="bright-title">The HR Conundrum</h2>
          <hr>
      </div>
    </div>
  </div>


  <div class="container hideme">
      <div class="row divider-padding"> 
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <div id="child-about">
                <p>
                  Navigating the employment landscape in Singapore, particularly for HR practitioners is arguably not as straightforward as many would envisage. There have been many diverse questions confronting HR practitioners on wide-ranging employment related issues, that continue to befuddle many. The solutions to some of these questions may not be readily obvious nor even reside in prevailing labour laws which are themselves subject to different interpretations.<br><br>
                  <font color="#FFA500"><b>So here's the Objective:</b></font><br><br> It is the hope that this portal will be able to provide some constructive views and insights into these questions gleaned from the knowledge and experience of its Founder. It is also the aim that the guidance given will be helpful to practitioners in arriving at practical and workable HR solutions that are tailored to their unique situations and needs.
               </p>
              </div>
          </div>

      </div>
  </div>
<!-- End of About -->



<!-- Start of experiences -->
  <div class="hideme">
    <div class="container-fluid experience-div"> 
      <div class="row" id="portfolio">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">About the Founder</h2>
            <hr class="hr">
        </div>
      </div>
    </div>


    <div class="container-fluid experience-div">
        <div class="row divider-padding"> 
            <div class="col-lg-12 text-center">
                <div>
                  <div class="col-lg-3 col-xs-12 text-center service-box">
                    <div class="rounded-icon"><font size="6" class="about-resize" color="#6F6F71">30</font></div>
                    <br><br>
                    <p class="service-content">HR Practitioner for more than 30 years, heading HR practices in local and MNC Organizations, including public-listed companies (both unionized and non-unionized)</p>
                  </div>
                  <div class="col-lg-3 col-xs-12 text-center service-box">
                    <div class="rounded-icon"><%=image_tag("about-icons/corporate-governance.png", class:"about-resize")%></div>
                    <br><br>
                    <p class="service-content">Specializes in Corporate Governance work, apart from HRM and IR</p>
                  </div>
                  <div class="col-lg-3 col-xs-12 text-center service-box">
                    <div class="rounded-icon"><%=image_tag("about-icons/adjunct-lecturer.png", class:"about-resize")%></div>
                    <br><br>
                    <p class="service-content">
                        Ex-adjunct lecturer at a private school teaching undergrad programmes<br><br>
                        Free-lance Trainer
                    </p>
                  </div>
                  <div class="col-lg-3 col-xs-12 text-center service-box">
                    <div class="rounded-icon"><%=image_tag("about-icons/mortarboard.png", class:"about-resize")%></div>
                    <br><br>
                    <p class="service-content">
                        Holds both Masters and Bachelors degree in Business (HR Specialization)<br><br>
                        Graduate Diploma in Management<br><br>
                        Top student in both cohorts<br><br>
                        Obtained Advanced Certificate in Training and Assessment (ACTA) qualifications from the Institute of Adult Learning, Singapore
                      </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
 <!-- end of experiences -->




<!-- Start of other services -->
    <div class="container"> 
      <div class="row" id="services">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">Our Services</h2>
            <hr>
            <p class="email-quote">(Please email feedback@hr.com to obtain quote)<p>
        </div>
      </div>
    </div>


    <div class="container animate-icons">

      <div class="row">
        <div class="all-services">
          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/employment-contract.png", class:"services-resize")%>
            <br>
            Employment Contract Review<br>
            <font size="2.5pt" color="#B6B6B4"><i>(Complimentary)</i></font>
          </div>
          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/cv-profile.png", class:"services-resize")%>
            <br>
            CV Profile & Customized CV<br>
            <font size="2.5pt" color="#B6B6B4"><i>(At a nominal fee to cover time-cost)</i></font>
          </div>
          <div class="col-lg-4 col-sm-12 text-center service-box">
            <%=image_tag("misc-icons/career-guidance.png", class:"services-resize")%>
            <br>
            Career Guidance<br>
            <font size="2.5pt" color="#B6B6B4"><i>(Complimentary)</i></font>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="all-services">
          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/scorecard.png", class:"services-resize")%>
            <br>
            HR Scorecard<br>
            <font size="2.5pt" color="#B6B6B4"><i>(Performance Metrics)</i></font>
          </div>

          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/review-policies.png", class:"services-resize")%>
            <br>
            Review and Formulation of HR Policies
          </div>

          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/risk-management.png", class:"services-resize")%>
            <br>
            Enterprise Risk Management
          </div>
        </div>
      </div>

      <div class="row divider-padding">
        <div class="all-services">

          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/hr-tools.png", class:"services-resize")%>
            <br>
            Developing HR Systems and Tools<br>
          </div>

          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/compliance-audit.png", class:"services-resize")%>
            <br>
            HR Compliance Audit
          </div>

          <div class="col-lg-4 col-md-12 text-center service-box">
            <%=image_tag("misc-icons/outplacement-services.png", class:"services-resize")%>
            <br>
            Outplacement Services
          </div>

          <!-- 
          <div class="col-lg-3 col-xs-12 text-center service-box">
            <%=image_tag("misc-icons/training-courses.png", class:"services-resize")%>
            <br>
            Training Courses
          </div> -->


        </div>
      </div>
    </div>


<!-- End of other services -->



<!-- Start of training courses -->
     <div class="container-fluid training-main-cover animate-btn" id="training-section">
      <div class="col-lg-12 dark-title"><font size="8">Training Courses</font></div>
        <div class="row"> 
          <div class="col-lg-12 training-content dark-content">
            <p class="email-quote">(Please email feedback@hr.com to obtain quote)<p>
            <button type="button" class="btn btn-warning btn-xl accord-toggle" id="find-out-more-btn" data-toggle="collapse" data-target="#training-details" aria-expanded="false"> <font color="white" size="4">Find Out More</font></button> 
          </div>
        </div>
    </div>

<!-- End of training courses -->



<!-- Start of collapsed training details -->
    <div class="container">
      <div class="row">
        <div class="row collapse divider-padding courses" id="training-details"> 
          <!-- <div class="well well-lg col-lg-12" style="padding: 10px 50px 10px 50px;"> -->
            <div class="row" style="padding: 50px 50px;">
             
              <ul class="nav nav-tabs" id="training-tabs">
                <li class="active"><a data-toggle="tab" href="#course1">Unleashing the Leadership Potential in You</a></li>
                <li><a data-toggle="tab" href="#course2">Business Ethics</a></li>
                <li><a data-toggle="tab" href="#course3">E-mail Etiquette</a></li>
                <li><a data-toggle="tab" href="#course4">Making Right Hiring Decisions</a></li>
                <li><a data-toggle="tab" href="#course5">Performance Management System</a></li>
              </ul> 

              <div class="tab-content">
                <div id="course1" class="tab-pane fade in active course-content">
                  <h3 class="course-title">Unleashing the Leadership Potential in You</h3>

                    <div class="col-lg-6">
                      <span class="subheader">Introduction</span><br>
                      What distinguishes Great companies from just Good companies is that their Leaders are also models for their staff and are committed to developing talent. Developing and sustaining a robust leadership pipeline continues to be the topmost priority and a major challenge in today’s organizations in the face of a VUCA environment.<br><br>
                      “My main job at GE was to develop and nourish talent…The future will not belong to Managers or those who can make the numbers dance.  The world will belong to passionate driven leaders – people who not only have enormous amount of energy but who can also energize those whom they lead” (J Welch) <br><br>
                      Many of existing leaders reached their positions by chance because they happen to be the best engineers, best technical specialists or best accountants parachuted in by circumstances or operational expediency.  This is certainly a recipe for organizational failure.
                      <br><br><br>
                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                            <ol>
                            <li>To liberate the leader in you to influence Change</li>
                            <li>To discover personal behavior and leadership styles that can make a difference in business performance and personal life decisions</li>
                            <li>To effectively use tested leadership enabling tools and knowledge for continual self-development</li>
                            <li>To gain and acquire practical skills to move on from being a capable Manager to an effective Leader</li>
                            <li>Certification Test</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      This workshop is highly interactive leveraging on pre-course work, mini-lectures, leadership behavioral instruments and group discussions on contemporary leadership challenges.
                      Focus will be placed on learning through self-discovery and self-development. <br><br>
                      This program can be customized to suit the specific needs of the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <ul>
                        <li>Just about anyone groomed to undertake leadership roles within their organizations</li>
                        <li>Also highly suitable for seasoned Managers and Leaders to take fresh stock of their leadership capabilities</li>
                      </ul>
                    </div> 

                </div> <!-- course 1 -->


                <div id="course2" class="tab-pane fade course-content">
                  <h3 class="course-title">Business Ethics <font color="grey" size="4pt">- Doing the Right Thing</font></h3>

                    <div class="col-lg-6">
                      <span class="subheader">Introduction</span><br>
                      In recent times, there has been much discourse on the need for good corporate governance practices to protect organizations against the unscrupulous actions of business people and even the unconscionable behavior of some misguided employees.<br><br>
                      The usual route to deal with this is to tighten further the rules by introducing even more legislation or policies.  The argument against this route is that no matter how much regulations or risk management systems there are in place, there will always be ways to over-ride these controls, especially if there is no personal resolve to act ethically.<br><br>
                      On the other hand, others have strongly advocated the need to imbue in individuals a moral compass grounded on sound ethical principles that will enable them to make morally correct decisions when faced with difficult choices, especially at the workplace.<br><br>
                      This will be the primary aim of this course

                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol class="two-columns">
                            <li>What Ethics is and is not</li>
                            <li>Why Ethics is important in business</li>
                            <li>Why the prevalence of ethical failures despite regulations</li>
                            <li>Moral Principles and Philosophy</li>
                            <li>Code of Conduct explained</li>
                            <li>Corporate Governance and its relevance</li>
                            <li>Personal Data Protection Act</li>
                            <li>Protection from Harassment Act</li>
                            <li>Application issues</li>
                            <li>Certification Test</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      This workshop is highly engaging and interactive involving an interplay of mini-lectures, action learning, case studies and group discussions on contemporary ethical issues.<br><br>
                      This program can be customized to suit the specific needs of the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <ul>
                        <li>Business leaders especially those directly responsible for promoting good corporate governance practices within their organizations</li>
                        <li>Leaders with responsibility to formulate and train their staff on Company’s Code of Conduct based on strong business ethical principles</li>
                        <li>Functional heads with oversight responsibility over ethics and compliance</li>
                        <li>Any student or practitioner of moral philosophy</li>
                      </ul>
                    </div> 

                </div> <!-- course 2 -->


                <div id="course3" class="tab-pane fade course-content">
                  <h3 class="course-title">Email Etiquette <font color="grey" size="4pt">- Getting the most out of on-line  communications</font></h3>

                    <div class="col-lg-6">
                      <span class="subheader">Introduction</span><br>
                      The advent of electronic mail or email probably ranks highest in the list of greatest technological inventions in this era.  The ubiquitous use of email has a far-reaching impact on how we communicate with others. At the same time, it is also the most often taken for granted.  The resultant effect is a litany of problems in miscommunications, loss in efficiency, personal and organizational conflicts, damaged reputations and creating a festering ground for litigation.
                      <br><br>
                      This workshop aims to help employees improve their online communication skills and to get the most out of the email system.  

                      <br><br><br>
                    </div>

                    <div class="col-lg-6">


                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol>
                            <li>Understanding the common pitfalls and avoiding them</li>
                            <li>Gain and apply practical skills to improve your personal and professional image</li>
                            <li>Be aware of email abuse and net security challenges</li>
                            <li>Damage control – for bad email moments</li>
                            <li>Developing a personal action plan for improvement</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      The workshop involves interactive exercises, group discussions and action learning and can be customized to suit the learning needs of participants

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      Just about everyone who uses email inside and outside of work
                    </div> 

                </div> <!-- course 3 -->



                <div id="course4" class="tab-pane fade course-content">
                  <h3 class="course-title">Making Right Hiring Decisions <font color="grey" size="4pt">- Enhanced Interviewing skills</font></h3>

                    <div class="col-lg-6">
                      <span class="subheader">Introduction</span><br>
                      Hiring a new employee is a major investment for any organization, not only in terms of costs but also as a predictor for future organizational performance.<br><br>
                      This workshop is designed to equip just about everyone who has a responsibility for hiring, and not just HR practitioners. The fallacy is assuming that everyone has an innate ability to size up potential candidates and make the right hiring decisions. 
                      <br><br>It is also a common fact that most staff who had been parachuted to undertake this role had never undergone any form of training to prepare them for the critical task of hiring right. Using a series of enhanced effective interviewing skills, participants will acquire the skill-sets in making key decisions to place the right people in the right jobs.

                      <br><br><br>
                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol>
                            <li>Preparing for interviewing – Defining the job requirements</li>
                            <ul>
                              <li>Defining KSFs</li>
                              <li>Differentiating competencies, behaviours and technical skills</li>
                              <li>Job description asaAnchor</li>
                            </ul>

                            <li>Preparing the interview – Structure, roles and questions</li>
                            <ul>
                              <li>Interview structure</li>
                              <li>Framing interview questions</li>
                              <li>Assigning roles</li>
                            </ul>

                            <li>Conducting the interview</li>
                            <ul>
                              <li>Structured format vs flexibility</li>
                              <li>Avoiding interview taboos</li>
                              <li>Active listening</li>
                            </ul>

                            <li>Final selection</li>
                            <ul>
                              <li>Additional information source</li>
                              <li>Matching candidates</li>
                              <li>Provisional v Firmed decisions</li>
                              <li>Managing Managers’ expectations</li>
                              <li>Preparing for onboarding</li>
                            </ul>
                          </ol>
                          This program can be customized to suit the learning needs of participants and the organization
                        </div>
                      </div> <!-- end list group -->


                      <span class="subheader">Methodology</span><br>
                      Blended learning involving discussions, case studies, role-play supplemented by online content

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      <ul>
                        <li>Just about everyone with a responsibility for hiring within their organization</li>
                        <li>The program will also be useful for potential job candidates to understand the psyche of effective interviewers and to make preparations to ace even the toughest interviews</li>
                      </ul>
                    </div> 

                </div> <!-- course 4 -->



                <div id="course5" class="tab-pane fade course-content">
                  <h3 class="course-title">Performance Management System <font color="grey" size="4pt">- Effective Performance and Potential Management Skills</font></h3>

                    <div class="col-lg-6">
                      <span class="subheader">Introduction</span><br>
                      This program presents the performance appraisal system as an opportunity to strengthen the performance of those you manage and to develop a better understanding between employees and their appraisers in the process.  It is structured to provide the nexus between People, Strategy and Performance from goal-setting to performance delivery using a balanced assessment approach that is aligned to both the employee’s and organization’s interests.
                      <br><br>
                      The Performance Management system is a critical management tool to develop effective, motivated and productive employees.  It also enables effective decision making regarding each employee’s career development, potential management and performance improvement needs.

                      <br><br><br>
                    </div>

                    <div class="col-lg-6">

                      <div class="list-group">
                        <div class="list-group-item list-group-item-warning">
                          <span class="subheader">Key Takeaways</span><br>
                          <ol>
                            <li>Enhance understanding and awareness of the performance management process as a method of developing motivated and highly engaged employees</li>
                            <li>Use specific techniques to evaluate employee’s performance in a more objective, fair and developmental manner</li>
                            <li>Assess employee’s development needs in relation to individual career and corporate goals</li>
                            <li>Create a factual and defensible document to avoid legal challenges</li>
                            <li>Support recommendations for individual career decisions</li>
                            <li>Strengthen the essential critical thinking, writing and verbal skills needed to plan and deliver effective results-oriented performance appraisals</li>
                            <li>Enhance your ability to give objective and constructive performance feedback</li>
                          </ol>
                        </div>
                      </div> <!-- end list group -->

                      <span class="subheader">Methodology</span><br>
                      You will have several opportunities to practice what you learn through role plays, case studies and other activities<br>
                      This program can be customized to suit the learning needs of participants and the organization

                      <br><br>

                      <span class="subheader">Who will benefit from this Workshop</span><br>
                      This course offers practical performance management training, aimed at supervisory staff or line managers who have a responsibility for managing the performance of employees.
                    </div> 

                </div> <!-- course 5 -->

              </div> <!-- tab content-->

             </div> <!-- row -->
          <!--</div> <!-- well -->


        </div> <!-- inner row -->
      <div> <!-- outer row -->
      <!-- End of collapsed training details -->


    </div> <!-- container -->



    <div class="container text-center"> 
        <div class="courses-break-div"></div>
        <div id="toggle-glyphicon" class="glyphicon glyphicon-triangle-bottom" style="cursor:pointer"></div>
    </div>


<!-- Start of vision & disclaimer & privacy -->
    <div class="container"> 
      <div class="row" id="disclaimer">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="bright-title">What You Should Know</h2>
            <hr>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="row divider-padding"> 
            <div class="col-lg-8 col-lg-offset-2 text-center hideme">
              <p class="icon-position"><%= image_tag("misc-icons/vision-icon.png", height:"70px", width:"60px")%> <br>
              <span class="icon-title">Vision</span></p>
              <p class="icon-content">If you think this service has been helpful to you, please share it with like-minded HR folks. Ultimately, a HR fraternity can be forged amongst us; one that will be a bellwether of sorts for our local HR industry.</p>  
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center hideme">
              <p class="icon-position"><%= image_tag("misc-icons/disclaimer-icon.png", style:"padding: 10px 0px", height:"70px", width:"47px")%> <br>
              <span class="icon-title">Disclaimer</span></p>
              <p class="icon-content">The comments, views or feedback offered by the Founder are intended as general information only and should not be construed as an authoritative interpretation of the subject matter.  It is also not intended to substitute for legal guidance and should not be acted upon without seeking proper legal counsel or advice.</p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center hideme">
              <p class="icon-position"><%= image_tag("misc-icons/privacy-icon.png", style:"padding: 10px 0px", height:"70px", width:"47px")%> <br>
              <span class="icon-title">Privacy & Non-Liability</span></p>
              <p class="icon-content">Please note that any of your personal information disclosed will be held in strict confidence and will not be shared with any party without your consent. Users of this service shall be by their conduct deemed to have acknowledged that any information (personal or otherwise) sent to this portal are strictly provided on their own volition and that the user shall not hold the provider of this service (including the Founder and his associates) liable for any harm, damage, injury or loss whatsoever arising from or in connection with its use and purpose.</p>
            </div>
        </div>
    </div>
<!-- End of vision & disclaimer & privacy -->


<!-- start of footer -->
    <div class="container-fluid hideme">
      <div class="row" id="contact-us">
        <div class="row footer-main-cover">
          <div class="row">
            <div class="col-lg-3 col-xs-1"></div>
            <div class="col-lg-6 col-xs-10 contact text-center">
              <span class="dark-title">Let's Get Started! <hr class="hr"></span>
              <span class="icon-content">Do you have a particular question on HR management practices or employment related issues in Singapore that needs to be answered? <br><br>Send us an email and we will get back to you as soon as possible!
                <br>Your questions (and our response) will be on a private one2one basis.<br><br>
                <p class="alert alert-warning text-center" role="alert" style="padding 0px;"><font size="3pt">Please indicate the type of Industry you represent (e.g. Manufacturing, Hospitality, Transportation etc) and whether your Company is a unionized or non-unionized one.</font></p>
              </span>
            </div>
            <div class="col-lg-3 col-xs-1"></div>
          </div>

          <div class="row">
            <div class="col-lg-12 contact-info text-center">
              <font size="3"><%=image_tag("contact-icons/envelope-of-white-paper.png", class:"contact-resize")%><br> feedback@hr.com
              </font>
            </div>
          </div>


        </div> <!-- inner row -->
      <div> <!-- outer row -->

    </div>
<!-- end of footer -->



  </body>

</html>

<script>

$( document ).ready(function() {
   
  $('body').scrollspy({
    target: '#main-navbar',
    offset: 50
  });



  //to make navbar transparent at the top but opaque at the bottom
  function remove_navbar_transparent() {
      var window_top = $(window).scrollTop();
      var div_top = $('#about').offset().top;
      if (window_top > div_top) {
          $('#main-navbar').removeClass('transparent');
      } else {
          $('#main-navbar').addClass('transparent');
      }
  }

  $(function () {
      $(window).scroll(remove_navbar_transparent);
      remove_navbar_transparent();
  });


  $('#find-out-more-btn').hide();
  $('.all-services').hide();

  /* Every time the window is scrolled ... */
  $(window).scroll( function(){
  
      /* Check the location of each desired element */
      $('.hideme').each( function(i){
          
          var bottom_of_object = $(this).position().top;
          var bottom_of_window = $(window).scrollTop() + $(window).height();
          
          /* If the object is completely visible in the window, fade it in */
          if( bottom_of_window > bottom_of_object ){
            $(this).addClass('animated fadeIn');
              //$(this).animate({'opacity':'1'},800);

          }
          
      }); 

      $('.animate-btn').each( function(i){
          
          var bottom_of_object = $(this).position().top + $(this).outerHeight();
          var bottom_of_window = $(window).scrollTop() + $(window).height();
          
          /* If the object is completely visible in the window, fade it in */
          if( bottom_of_window > bottom_of_object ){
              $('#find-out-more-btn').addClass('animated tada');
              $('#find-out-more-btn').show();
          }
          
      }); 

      $('.animate-icons').each( function(i){
          
          var bottom_of_object = $(this).position().top + $(this).outerHeight();
          var bottom_of_window = $(window).scrollTop() + $(window).height();
          
          /* If the object is completely visible in the window, fade it in */
          if( bottom_of_window > bottom_of_object ){
              $('.all-services').addClass('animated slideInUp');
              $('.all-services').show();
          }
          
      }); 
  
  }); //window scroll function


  /*
    This is to check the state of the collapsed courses
  */

  $('#toggle-glyphicon').hide();

  $( "#find-out-more-btn" ).click(function() {
    if($("#toggle-glyphicon").is(":visible")) {
      $('#toggle-glyphicon').hide();
    } else {
      $('#toggle-glyphicon').show();
    }
  }); //find out more

  $("#toggle-glyphicon").click(function() {
      $('#find-out-more-btn').click();
      $('#toggle-glyphicon').hide();
  });




}); //end document ready


</script>



